openapi: 3.0.0
info:
  title: Subscriptions API
  version: v1
  description: API for managing subscriptions and products.
servers:
  - url: https://api.bolt.com
    description: The Production URL (Live Data).
  - url: https://api-sandbox.bolt.com
    description: The Sandbox URL (Test Data).
  - url: https://api-staging.bolt.com
    description: The Staging URL (Staged Data).
security:
  - X-API-Key: []
  - X-Publishable-Key: []
paths:
  /v1/subscriptions/products:
    post:
      operationId: createProduct
      summary: Create a product
      description: Creates a new product with associated plans.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - description
                - brand
                - sku
                - plans
                - unit_price
              properties:
                name:
                  type: string
                  description: Name of the product.
                  example: "Bolt Subscription Product"
                description:
                  type: string
                  description: Description of the product.
                  example: "This is a subscription product."
                brand:
                  type: string
                  description: Brand of the product.
                  example: "Bolt"
                sku:
                  type: string
                  description: SKU of the product.
                  example: "BOLT-12345"
                merchant_product_id:
                  type: string
                  description: ID for the product; if missing, global plans are created
                merchant_variant_id:
                  type: string
                  description: ID for the product variant
                unit_price:
                  type: integer
                  description: Unit price of the product in cents.
                  example: 1999
                images:
                  type: array
                  items:
                    type: string
                    format: URL
                  description: Array of image URLs for the product.
                  example:
                    - "https://example.com/image1.jpg"
                    - "https://example.com/image2.jpg"
                plans:
                  type: array
                  items:
                    type: object
                    required:
                      - name
                      - sku
                      - frequency
                      - frequency_unit
                    properties:
                      sku:
                        type: string
                        description: SKU of the plan.
                        example: "BOLT-PLAN-12345"
                      name:
                        type: string
                        description: Name of the plan.
                        example: "Monthly Subscription"
                      frequency:
                        type: integer
                        description: Frequency of the plan.
                        example: 1
                      frequency_unit:
                        type: string
                        enum:
                          - day
                          - week
                          - month
                          - Month
                          - year
                          - one_time
                        description: Unit of frequency (e.g., day, week, month, Month, year, one_time).
                        example: "month"
      responses:
        '200':
          description: Product created successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  product:
                    $ref: '#/components/schemas/Product'
        '400':
          description: Bad request.
        '401':
          description: Unauthorized - Invalid or missing API key.
      security:
        - X-API-Key: []
        - X-Publishable-Key: []
      x-speakeasy-group: products
      x-speakeasy-name-override: create
    get:
      operationId: listProducts
      summary: Get all products
      description: Retrieves a list of all products.
      security:
        - X-API-Key: []
        - X-Publishable-Key: []
      responses:
        '200':
          description: List of products.
          content:
            application/json:
              schema:
                type: object
                properties:
                  products:
                    type: array
                    items:
                      $ref: '#/components/schemas/Product'
                required:
                  - products
        '401':
          description: Unauthorized - Invalid or missing API key.
        '404':
          description: Product not found.
      x-speakeasy-group: products
      x-speakeasy-name-override: list
  /v1/subscriptions/products/{productId}:
    get:
      operationId: getProduct
      summary: Get a product
      description: Retrieves a product by its ID.
      security:
        - X-API-Key: []
        - X-Publishable-Key: []
      parameters:
        - in: path
          name: productId
          schema:
            type: integer
          required: true
          description: ID of the product to retrieve.
      responses:
        '200':
          description: Product details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'
        '401':
          description: Unauthorized - Invalid or missing API key.
        '404':
          description: Product not found.
          # delete:
          #   operationId: deleteProduct
          #   summary: Delete a product
          #   description: Soft deletes a product by its ID. This will cancel all active subscriptions for the product plans.
          #   security:
          #     - X-API-Key: []
          #     - X-Publishable-Key: []
          #   parameters:
          #     - in: path
          #       name: productId
          #       schema:
          #         type: integer
          #       required: true
          #       description: ID of the product to delete.
          #   responses:
          #     '200':
          #       description: Product deleted successfully.
          #       content:
          #         application/json:
          #           schema:
          #             $ref: '#/components/schemas/Success'
          #     '401':
          #       description: Unauthorized - Invalid or missing API key.
          #     '404':
          #       description: Product not found.
      x-speakeasy-group: products
      x-speakeasy-name-override: get
  /v1/subscriptions/plans:
    get:
      operationId: getPlans
      summary: Get all subscription plans available for a product
      description: Retrieves a list of plans
      security:
        - X-Publishable-Key: []
      parameters:
        - in: query
          name: merchant_product_id
          schema:
            type: string
          required: true
          description: ID of the product to retrieve plans for.
        - in: query
          name: merchant_variant_id
          schema:
            type: string
          required: false
          description: ID of the product variant to retrieve plans for.
      responses:
        '200':
          description: List of plans.
          content:
            application/json:
              schema:
                type: object
                properties:
                  plans:
                    type: array
                    items:
                      $ref: '#/components/schemas/Plan'
                required:
                  - plans
        '401':
          description: Unauthorized - Invalid or missing publishable key.
      x-speakeasy-group: plans
      x-speakeasy-name-override: list
  /v1/subscriptions/{subscriptionId}/pause:
    post:
      summary: Pause a subscription
      description: Pauses a subscription by its ID.
      security:
        - X-API-Key: []
        - X-Publishable-Key: []
      parameters:
        - in: path
          name: subscriptionId
          schema:
            type: integer
          required: true
          description: ID of the subscription to pause.
      responses:
        '200':
          description: Subscription paused successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        '400':
          description: Bad Request - subscription is already paused
        '401':
          description: Unauthorized - Invalid or missing API key.
        '404':
          description: Subscription not found.
      x-speakeasy-group: subscriptions
      x-speakeasy-name-override: pause
  /v1/subscriptions/{subscriptionId}/unpause:
    post:
      summary: Unpause a subscription
      description: Unpauses a subscription by its ID.
      security:
        - X-API-Key: []
        - X-Publishable-Key: []
      parameters:
        - in: path
          name: subscriptionId
          schema:
            type: integer
          required: true
          description: ID of the subscription to unpause.
      responses:
        '200':
          description: Subscription unpaused successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        '400':
          description: Bad Request - subscription is not paused
        '401':
          description: Unauthorized - Invalid or missing API key.
        '404':
          description: Subscription not found.
      x-speakeasy-group: subscriptions
      x-speakeasy-name-override: unpause
  /v1/subscriptions/{subscriptionId}/cancel:
    post:
      operationId: cancelSubscription
      summary: Cancel a subscription
      description: Cancels a subscription by its ID.
      security:
        - X-API-Key: []
        - X-Publishable-Key: []
      parameters:
        - in: path
          name: subscriptionId
          schema:
            type: integer
          required: true
          description: ID of the subscription to cancel.
      responses:
        '200':
          description: Subscription cancelled successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        '401':
          description: Unauthorized - Invalid or missing API key.
        '404':
          description: Subscription not found.
      x-speakeasy-group: subscriptions
      x-speakeasy-name-override: cancel
  /v1/subscriptions/{subscriptionId}:
    get:
      operationId: getSubscription
      summary: Get a subscription
      description: Retrieves a subscription by its ID.
      security:
        - X-API-Key: []
        - X-Publishable-Key: []
      parameters:
        - in: path
          name: subscriptionId
          schema:
            type: integer
          required: true
          description: ID of the subscription to retrieve.
      responses:
        '200':
          description: Subscription details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscription'
        '401':
          description: Unauthorized - Invalid or missing API key.
        '404':
          description: Subscription not found.
      x-speakeasy-group: subscriptions
      x-speakeasy-name-override: get
  /v1/subscriptions:
    get:
      operationId: listSubscriptions
      summary: Get all subscriptions
      description: Retrieves a list of all subscriptions.
      parameters:
        - in: query
          name: customer_ids
          schema:
            type: string
          description: Comma-separated list of customer IDs to filter subscriptions.
          required: false
        - in: query
          name: emails
          schema:
            type: string
          description: Comma-separated list of email addresses to filter subscriptions.
          required: false
        - in: query
          name: product_ids
          schema:
            type: string
          description: Comma-separated list of product IDs to filter subscriptions.
          required: false
        - in: query
          name: plan_ids
          schema:
            type: string
          description: Comma-separated list of plan IDs to filter subscriptions.
          required: false
      security:
        - X-API-Key: []
        - X-Publishable-Key: []
      responses:
        '200':
          description: List of subscriptions.
          content:
            application/json:
              schema:
                type: object
                properties:
                  subscriptions:
                    type: array
                    items:
                      $ref: '#/components/schemas/Subscription'
                required:
                  - subscriptions
        '401':
          description: Unauthorized - Invalid or missing API key.
        '404':
          description: Subscription not found.
      x-speakeasy-group: subscriptions
      x-speakeasy-name-override: list
  /v1/subscriptions/orders:
    get:
      operationId: listSubscriptionOrders
      summary: Get all subscription orders
      description: Retrieves a list of all subscription orders.
      parameters:
        - in: query
          name: subscription_ids
          schema:
            type: string
          description: Comma-separated list of subscription IDs to filter orders.
          required: false
      security:
        - X-API-Key: []
        - X-Publishable-Key: []
      responses:
        '200':
          description: List of subscription orders.
          content:
            application/json:
              schema:
                type: object
                properties:
                  orders:
                    type: array
                    items:
                      $ref: '#/components/schemas/SubscriptionOrder'
                required:
                  - orders
        '401':
          description: Unauthorized - Invalid or missing API key.
        '404':
          description: Orders not found.
      x-speakeasy-group: subscriptionOrders
      x-speakeasy-name-override: list
components:
  securitySchemes:
    X-API-Key:
      type: apiKey
      in: header
      name: X-API-Key
    X-Publishable-Key:
      type: apiKey
      in: header
      name: X-Publishable-Key
  schemas:
    Plan:
      type: object
      properties:
        id:
          type: string
          description: unique identifier for the plan.
          example: spl_ba_PpkW16oIW
        name:
          type: string
          description: Name of the plan.
          example: "Monthly Subscription"
        sku:
          type: string
          description: SKU of the product.
          example: "BOLT-12345"
        created_at:
          type: string
          format: date-time
          example: "2023-10-01T12:00:00Z"
        updated_at:
          type: string
          format: date-time
          example: "2023-10-01T12:00:00Z"
        frequency:
          type: integer
          format: int64
          example: 1
        product_id:
          type: string
          description: ID of the product associated with the plan.
          example: sp_Tlj0Osm0N76T
        frequency_unit:
          type: string
          description: Unit of frequency (e.g., day, week, month, Month, year, one_time).
          enum:
            - day
            - week
            - month
            - Month
            - year
            - one_time
          example: "month"
        checkout_link:
          type: string
          description: Checkout link for the plan.
          example: "https://your_site.c.bolt.com/g?merchant_product_id=37&merchant_variant_id=67&publishable_key=BQ9PKQksUGtj.Q9LwVLfV3WF4.32122926f7b9651a416a5099dc92dc2b4c87c8b922c114229f83b345d65f1195"
    Product:
      type: object
      description: Product object.
      properties:
        id:
          type: string
          description: unique identifier for the product.
          example: sp_Tlj0Osm0N76T
        name:
          type: string
          description: Name of the product.
          example: "Bolt Subscription Product"
        description:
          type: string
          description: Description of the product.
          example: "This is a subscription product."
        merchant_product_id:
          type: string
          description: merchant's ID for the product
        merchant_variant_id:
          type: string
          description: merchant's ID for the product variant
        sku:
          type: string
          description: SKU of the product.
          example: "BOLT-12345"
        created_at:
          type: string
          format: date-time
          example: "2023-10-01T12:00:00Z"
        updated_at:
          type: string
          format: date-time
          example: "2023-10-01T12:00:00Z"
        plans:
          type: array
          items:
            $ref: '#/components/schemas/Plan'
        images:
          type: array
          items:
            type: string
            format: URL
          description: Array of image URLs for the product.
          example:
            - "https://example.com/image1.jpg"
            - "https://example.com/image2.jpg"
    Subscription:
      type: object
      properties:
        id:
          type: string
          example: s_1234567890
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        consumer_id:
          type: integer
          format: int64
        subscription_plan_id:
          type: string
          description: ID of the subscription plan.
          example: spl_ba_PpkW16oIW
        quantity:
          type: integer
          format: int64
        status:
          type: string
          enum:
            - scheduled
            - active
            - canceled
          example: "active"
        plan:
          $ref: '#/components/schemas/Plan'
    SubscriptionOrder:
      type: object
      properties:
        id:
          type: string
          description: unique identifier for the subscription order.
          example: so_Vni2CsDCpT0r
        subscription_id:
          type: string
          description: ID of the subscription associated with the order.
          example: s_711BJEHgNnGB
        order_id:
          oneOf:
            - type: string
              description: ID of the order as a string.
              example: sr_1BHyrSbeQiKwdyQ_49_bdw
            - type: integer
              description: ID of the order as an integer.
              example: 123456789
          description: ID of the order. Can be a string or integer.
        placement_time:
          type: string
          format: date-time
        status:
          type: string
          enum:
            - scheduled
            - active
            - canceled
            - done
          example: "active"
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    Success:
      type: object
      properties:
        success:
          type: boolean
